<template>
    <v-dialog v-model="addRegister" width="700" persistent transition="scroll-x-reverse-transition">
        <v-card border class="rounded-lg">
            <v-toolbar>
                <v-toolbar-title>Add Register</v-toolbar-title>
                <v-spacer />
                <v-btn icon @click="onModalCancel">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </v-toolbar>
            <v-card-item>
                <v-container>
                    <v-form>
                        <v-row>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.LocalAddr" label="Register Address"
                                    density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.Label" label="Label" density="comfortable"
                                    variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-select :items="funcList" v-model="registerForm.FunCode" label="Function"
                                    item-title="label" item-value="value" density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-select :items="lenList" v-model="registerForm.WordLen" label="Length" item-title="label"
                                    item-value="value" density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-select :items="formatList" v-model="registerForm.Format" label="Data Type"
                                    item-title="label" item-value="value" density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.SlaveAddr" label="Modbus ID" density="comfortable"
                                    variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-select :items="linkList" v-model="registerForm.LinkInfo" label="Port" item-title="label"
                                    item-value="value" density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.UnitStr" label="Unit" density="comfortable"
                                    variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-select :items="unitValList" v-model="registerForm.Unitval" label="Coefficient"
                                    item-title="label" item-value="value" density="comfortable" variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.Offset" label="Offset" density="comfortable"
                                    variant="outlined" />
                            </v-col>
                            <v-col lg="6" md="6" sm="12" cols="12">
                                <v-text-field v-model="registerForm.Pollms" label="Pollms" density="comfortable"
                                    variant="outlined" />
                            </v-col>
                        </v-row>
                    </v-form>
                </v-container>
            </v-card-item>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer />
                <v-btn color="error" @click="onModalCancel">Close</v-btn>
                <v-btn color="success" @click="submitEvent">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup lang="ts">
import axios from 'axios';
import { ElMessage } from 'element-plus';
import { reactive } from 'vue';
const domain = window.location.origin;

const props = defineProps({
    selectRow: {
        type: Object,
        required: true
    }
});
let addRegister: boolean = true;
let registerForm = reactive({
    LocalAddr: null,
    Label: null,
    FunCode: "3",
    WordLen: null,
    Format: null,
    SlaveAddr: null,
    LinkInfo: null,
    UnitStr: null,
    Unitval: null,
    Offset: null,
    Pollms: null,
    MappingAddr: null,
    MB_IP: null,
    MB_PORT: null,
    Company: null,
    Model: null,
    Class: null,
});
interface OptionItem {
    label: string;
    value: string;
};
const funcList: OptionItem[] = [
    { label: "1", value: "1" },
    { label: "2", value: "2" },
    { label: "3", value: "3" },
    { label: "4", value: "4" },
];
const lenList: OptionItem[] = [
    { label: "2 bytes", value: "1" },
    { label: "4 bytes", value: "2" },
    { label: "6 bytes", value: "3" }
];
const formatList: OptionItem[] = [
    { label: "Unsigned INT", value: "UNSIGNED_INT" },
    { label: "Unsigned Float", value: "UNSIGNED_FLOAT" },
    { label: "Signed INT", value: "SIGNED_INT" },
    { label: "Signed Float", value: "SIGNED_FLOAT" },
];
const linkList: OptionItem[] = [
    { label: "1", value: "P1" },
    { label: "2", value: "P2" }
];
const unitValList: OptionItem[] = [
    { label: "1", value: "1" },
    { label: "0.1", value: "0.1" },
    { label: "0.01", value: "0.01" },
];
// 註冊向父組件發射的事件
const emit = defineEmits(["close-modal", "reload-modal"]);
// 關閉子組件
const onModalCancel = () => {
    emit("close-modal", false);
};
// 新增暫存器事件
const submitEvent = async () => {
    try {
        registerForm.Company = props.selectRow.Company;
        registerForm.Model = props.selectRow.Model;
        registerForm.Class = props.selectRow.Class;
        const response = await axios.post(`${domain}:5000/addRegister`, registerForm);
        ElMessage({ message: response.data.status, type: 'success' });
        // 傳回給父組件(EditRegister.vue) 觸發該函數
        emit("reload-modal", false);
    }
    catch (error) {
        console.error(error);
    }
};
</script>