<template>
    <v-container>
        <v-responsive class="fill-height">
            <el-drawer :style="backColor" v-model="drawer" title="Real time chart" :size="isMobile" @close="closeDrawer">
                <VueApexCharts type="area" :options="chartOptions" :series="chartSeries" />
            </el-drawer>
        </v-responsive>
    </v-container>
</template>

<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount } from 'vue';
import VueApexCharts from 'vue3-apexcharts';
import { io } from 'socket.io-client';
import { useTheme } from 'vuetify/lib/framework.mjs';
const domain = window.location.hostname;
const socket = io(`ws://${domain}:8765`);
const theme = useTheme();

const props = defineProps({
    drawerChart: {
        type: Object,
        required: true,
    }
});

const emit = defineEmits(["close-drawer"]);
const drawer = ref(true);
const isMobile = ref("45%");
let nowTheme = ref("");
let backColor = ref("");
let chartOptions = ref({
    chart: {
        type: "area",
        height: 300
    },
    xaxis: {
        type: "datetime",
        labels: {
            formatter: (value: number, timestamp: number) => {
                // 將 timestamp 轉換成 Date 物件
                const date = new Date(timestamp);
                // 取得小時和分鐘
                const hours = date.getHours();
                const minutes = date.getMinutes();
                const seconds = date.getSeconds();
                // 將時間格式化為 "hh:mm" 格式
                return `${hours < 10 ? "0" : ""}${hours}:${minutes < 10 ? "0" : ""
                    }${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            }
        }
    },
    yaxis: {
        title: {
            text: "Value"
        }
    },
    theme: {
        mode: nowTheme,
        palette: 'palette1',
        monochrome: {
            enabled: true,
            color: '#255aee',
            shadeTo: nowTheme,
            shadeIntensity: 0.65
        },
    }
});
// let chartSeries = ref([]);
const chartSeries = ref<Array<{ name: string; data: Array<{ x: number; y: number }> }>>([]);
const maxDataPointsToShow: number = 1000;
const closeDrawer = () => {
    // 關閉drawer時中斷連線
    socket.disconnect();
    window.removeEventListener('resize', checkInner);

    emit("close-drawer", false);
};

interface seriesItem {
    name: string
};
// 依照window寬度 drawer會有不同表現
const checkInner = (): void => {
    if (window.innerWidth < 960) {
        isMobile.value = "100%";
    }
    else {
        isMobile.value = "45%";
    }
}

onMounted(() => {
    // 監聽寬度，在手機版時drawer 100%
    checkInner();
    window.addEventListener('resize', checkInner);
    // 確認vuetify主題以配合apexchart的主題
    if (theme.global.name.value === "dark") {
        nowTheme.value = theme.global.name.value;
        backColor.value = "background-color: black"
    }
    else {
        nowTheme.value = theme.global.name.value;
        backColor.value = "background-color: white";
    }

    socket.connect();
    // 取現在的 + 之後的data 做實時更新
    socket.emit("getNowData", props.drawerChart);
    socket.on("latest_data", (data) => {
        let targetSeries = chartSeries.value.find((series: seriesItem) => series.name === data.label);
        if (!targetSeries) {
            targetSeries = {
                name: data.label,
                data: []
            };
            chartSeries.value.push(targetSeries);
        }
        let timestamp = new Date(data.timestamp).getTime();
        const newData = {
            x: timestamp,
            y: parseFloat(data.value)
        };
        targetSeries.data.push(newData);

        if (targetSeries.data.length > maxDataPointsToShow) {
            targetSeries.data.shift();
        }
    });
});
onBeforeUnmount(() => {
    window.removeEventListener('resize', checkInner);
});
</script>