<template>
    <v-app v-if="editRegister">
        <v-dialog v-model="editRegister" persistent transition="dialog-bottom-transition">
            <v-card border class="rounded-lg">
                <v-toolbar>
                    <v-toolbar-title>Edit Register</v-toolbar-title>
                    <v-spacer />
                    <v-btn icon @click="modalCancel">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-item>
                    <v-container fluid>
                        <v-responsive>
                            <v-row justify="space-between">
                                <v-col cols="6" class="mt-2">
                                    <v-btn color="light-blue-lighten-2" density="comfortable" @click="addRegister = true">
                                        <v-icon icon="mdi-plus" start />
                                        Add Register</v-btn>
                                </v-col>
                                <v-col cols="6">
                                    <v-text-field label="Search" v-model="search" append-icon="mdi-magnify" variant="plain"
                                        hide-details />
                                </v-col>
                            </v-row>
                            <VDataTable :headers="headers" :items="tableData" density="comfortable" :search="search" hover
                                sticky>
                                <template v-slot:item.editRegister="{ item }">
                                    <v-icon size="small" @click="editRegisterFunc(item.raw)">
                                        mdi-pencil
                                    </v-icon>
                                </template>
                                <template v-slot:item.deleteRegister="{ item }">
                                    <v-icon size="small" @click="removeEvent(item.raw)">
                                        mdi-delete
                                    </v-icon>
                                </template>
                            </VDataTable>
                        </v-responsive>
                    </v-container>
                </v-card-item>
            </v-card>
        </v-dialog>
        <v-dialog v-model="showEdit" width="700" transition="scroll-x-reverse-transition">
            <v-card class="rounded-lg">
                <v-card-title class="text-h5">
                    Edit Register
                </v-card-title>
                <v-card-item>
                    <v-container>
                        <v-form>
                            <v-row>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.LocalAddr" label="Register Address"
                                        density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.Label" label="Label" density="comfortable"
                                        variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-select :items="funcList" v-model="registerData.FunctionCode" label="Function"
                                        item-title="label" item-value="value" density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-select :items="lenList" v-model="registerData.WordLen" label="Length"
                                        item-title="label" item-value="value" density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-select :items="formatList" v-model="registerData.Format" label="Data Type"
                                        item-title="label" item-value="value" density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.SlaveAddr" label="Modbus ID" density="comfortable"
                                        variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-select :items="linkList" v-model="registerData.LinkInfo" label="Port"
                                        item-title="label" item-value="value" density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.UnitStr" label="Unit" density="comfortable"
                                        variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-select :items="unitValList" v-model="registerData.UnitVal" label="Coefficient"
                                        item-title="label" item-value="value" density="comfortable" variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.Offset" label="Offset" density="comfortable"
                                        variant="outlined" />
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-text-field v-model="registerData.PollMS" label="Pollms" density="comfortable"
                                        variant="outlined" />
                                </v-col>
                            </v-row>
                        </v-form>
                    </v-container>
                </v-card-item>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="error" @click="showEdit = false">Close</v-btn>
                    <v-btn color="success" @click="submitEditRegister">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="deleteDialog" persistent width="auto" transition="dialog-top-transition">
            <v-card>
                <v-card-title class="text-h5">
                    Delete Dashboard
                </v-card-title>
                <v-card-text>Are you sure you want to delete?</v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red" variant="text" @click="deleteDialog = false">
                        Cancel
                    </v-btn>
                    <v-btn color="green-darken-1" variant="text" @click="removeRegister">
                        Got it!
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <AddRegister v-if="addRegister" @close-modal="closeAddModal" :selectRow="selectRow"
            @reload-modal="reloadRegister" />
    </v-app>
</template>
<script setup lang="ts">
import axios from 'axios';
import { ElMessage } from 'element-plus';
import { ref, reactive, onMounted } from 'vue';
import { VDataTable } from 'vuetify/lib/labs/components.mjs';
import AddRegister from "@/components/AddRegister.vue"
const domain = window.location.origin;

const props = defineProps({
    selectRow: {
        type: Object,
        required: true,
    }
});

let addRegister = ref(false);
let editRegister = ref(true);
let search = ref("");
let headers = ref([
    { key: "LocalAddr", title: "Local Address" },
    { key: "Label", title: "Label" },
    { key: "FunctionCode", title: "Function" },
    { key: 'WordLen', title: 'Length' },
    { key: 'Format', title: 'Data Type' },
    { key: 'SlaveAddr', title: 'Modbus ID' },
    { key: 'LinkInfo', title: 'Port' },
    { key: 'UnitStr', title: 'Unit' },
    { key: 'UnitVal', title: 'Coefficient' },
    { key: 'Offset', title: 'Offset' },
    { key: 'PollMS', title: 'Pollms' },
    { key: "editRegister", title: "Edit Register", sortable: false, width: "130" },
    { key: "deleteRegister", title: "Delete Register", sortable: false, width: "150" },
]);
let tableData = ref();
let showEdit = ref(false);
let registerData = reactive({
    No: null as number | null,
    LocalAddr: null as string | null,
    Label: null as string | null,
    FunctionCode: null as string | null,
    WordLen: null as string | null,
    Format: null as string | null,
    SlaveAddr: null as string | null,
    LinkInfo: null as string | null,
    UnitStr: null as string | null,
    UnitVal: null as string | null,
    Offset: null as string | null,
    PollMS: null as string | null,
    Company: null as string | null,
    Model: null as string | null,
    Class: null as string | null,
});
type OptionItem = {
    label: string;
    value: string;
};
const funcList: OptionItem[] = [
    { label: "1", value: "1" },
    { label: "2", value: "2" },
    { label: "3", value: "3" },
    { label: "4", value: "4" },
];

const lenList: OptionItem[] = [
    { label: "2 bytes", value: "1" },
    { label: "4 bytes", value: "2" },
    { label: "6 bytes", value: "3" }
];
const formatList: OptionItem[] = [
    { label: "Unsigned INT", value: "UNSIGNED_INT" },
    { label: "Unsigned Float", value: "UNSIGNED_FLOAT" },
    { label: "Signed INT", value: "SIGNED_INT" },
    { label: "Signed Float", value: "SIGNED_FLOAT" },
];
const linkList: OptionItem[] = [
    { label: "1", value: "P1" },
    { label: "2", value: "P2" }
];
const unitValList: OptionItem[] = [
    { label: "1", value: "1" },
    { label: "0.1", value: "0.1" },
    { label: "0.01", value: "0.01" },
];
let editTemp = ref({});
let deleteTemp = ref({});
let deleteDialog = ref(false);

interface DataItem {
    Format: string, FunctionCode: string, Label: string, LinkInfo: string, LocalAddr: string, MB_TCP_IP: string, MB_TCP_PORT: string, MappingAddr: string, No: number, Offset: string, PollMS: string, SlaveAddr: string, UnitStr: string, UnitVal: string, WordLen: string, _X_ROW_KEY: string
};

const reloadRegister = (value: boolean) => {
    addRegister.value = value;
    getRegisterData();
};
const closeAddModal = (value: boolean) => {
    addRegister.value = value;
};
// 發射事件 to父組件
const emit = defineEmits(["closeDeleteModal"]);
const modalCancel = () => {
    emit("closeDeleteModal", false);
};
// 將父組件傳來的data向後端請求 並展示於表格
const getRegisterData = async () => {
    try {
        const response = await axios.post(`${domain}:5000/getRegisterData`, props.selectRow);
        tableData.value = response.data;
    }
    catch (error) {
        console.error(error);
    }
};
// 編輯是另外的彈窗 要再將選中的行重新賦值 再開啟彈窗
const editRegisterFunc = (row: DataItem) => {
    registerData.No = row.No;
    registerData.LocalAddr = row.LocalAddr;
    registerData.Label = row.Label;
    registerData.FunctionCode = row.FunctionCode;
    registerData.WordLen = row.WordLen;
    registerData.Format = row.Format;
    registerData.SlaveAddr = row.SlaveAddr;
    registerData.LinkInfo = row.LinkInfo;
    registerData.UnitStr = row.UnitStr;
    registerData.UnitVal = row.UnitVal;
    registerData.Offset = row.Offset;
    registerData.PollMS = row.PollMS;

    showEdit.value = true;
    editTemp.value = row;
};
// 更新暫存器配置
const submitEditRegister = async () => {
    try {
        registerData.Company = props.selectRow.Company;
        registerData.Class = props.selectRow.Class;
        registerData.Model = props.selectRow.Model;

        const response = await axios.post(`${domain}:5000/updateRegister`, registerData);
        ElMessage({ message: response.data.status, type: "success" });
        showEdit.value = false;
        getRegisterData();// 重新獲取表格資料以更新
    }
    catch (error) {
        console.error(error);
    }
};
// 移除暫存器
const removeRegister = async () => {
    try {
        // 組合payload
        let sqlTable = {
            Company: props.selectRow.Company,
            Model: props.selectRow.Model,
            Class: props.selectRow.Class,
        };
        let payload = [{
            selectRow: deleteTemp.value,
            needCombined: sqlTable
        }];
        const response = await axios.post(`${domain}:5000/deleteRegister`, payload);
        ElMessage({ message: response.data.status, type: 'success' });
        getRegisterData();// 重新獲取表格資料以更新
    }
    catch (error) {
        console.error(error);
    }
    finally {
        deleteDialog.value = false;
    }
};
// 暫無使用 比對新舊物件
const findObjectDiff = (oldData: Record<string, any>, newData: Record<string, any>) => {
    const diffObject: Record<string, any> = {};

    // 檢查 newData 的每個欄位是否存在於 oldData 中
    for (const key in newData) {
        if (Object.prototype.hasOwnProperty.call(newData, key)) {
            // 如果欄位存在於 oldData 中，但值不同，代表是修改的欄位
            if (oldData[key] !== newData[key]) {
                diffObject[key] = newData[key];
            }
        }
    }

    return diffObject;
};
// 移除前先將數據存入temp 並開啟double check彈窗
const removeEvent = (row: DataItem) => {
    deleteDialog.value = true;
    deleteTemp.value = row;
};
onMounted(() => {
    getRegisterData();
});
</script>