<template>
    <v-container>
        <v-responsive>
            <v-row class="d-flex align-center justify-center">
                <v-col>
                    <h5>System Control</h5>
                </v-col>
            </v-row>
            <v-row class="d-flex align-center">
                <v-col cols="auto">
                    <v-btn color="success" @click="reloadDataCollector">
                        <v-icon icon="mdi-reload" start />
                        Reload DataCollector</v-btn>
                </v-col>
                <v-col cols="auto">
                    <ElDivider v-if="hiddenDivider" direction="vertical" />
                    <v-btn color="warning" @click="stopDataCollector">
                        <v-icon icon="mdi-pause-circle-outline" start />
                        Pause</v-btn>
                </v-col>
                <v-col cols="auto">
                    <ElDivider v-if="hiddenDivider" direction="vertical" />
                    <v-btn color="success" @click="startDataCollector">
                        <v-icon icon="mdi-play-circle-outline" start />
                        Continue</v-btn>
                </v-col>
            </v-row>
            <v-row class="d-flex align-center justify-center">
                <v-col>
                    <h5>System Setting</h5>
                </v-col>
            </v-row>
            <v-row class="d-flex align-center">
                <v-col cols="auto">
                    <v-btn color="success" @click="exportData" :loading="loading">
                        <v-icon icon="mdi-export" start />
                        Export</v-btn>
                </v-col>
                <v-col cols="auto">
                    <ElDivider v-if="hiddenDivider" direction="vertical" />
                    <v-btn color="warning" @click="showImport = true">
                        <v-icon icon="mdi-import" start />
                        Import</v-btn>
                </v-col>
            </v-row>

            <v-dialog v-model="showImport" width="auto" transition="dialog-top-transition">
                <ElUpload drag accept=".ts" :action="uploadURL" :on-success="uploadSuccess" :before-upload="beforeUpload">
                    <el-icon class="el-icon--upload"><upload-filled /></el-icon>
                    <div class="el-upload__text">
                        Drop file here or <em>click to upload</em>
                    </div>
                </ElUpload>
            </v-dialog>
        </v-responsive>
    </v-container>
</template>
<script setup lang="ts">
import axios from 'axios';
import { ElMessage, ElDivider, ElUpload } from 'element-plus';
import { ref, onMounted, onBeforeMount } from 'vue';
const domain = window.location.origin;

let hiddenDivider = ref(true); // 在螢幕尺寸較小時關閉分割線
let showImport = ref(false);
let uploadURL = ref(`${domain}:5000/import`);
let loading = ref(false);

const reloadDataCollector = async () => {
    try {
        const response = await axios.get(`${domain}:5000/reload`);
        if (response.data.status == "Reload successful!") {
            ElMessage({ message: response.data.status, type: 'success' });
        }
        else {
            ElMessage({ message: response.data.status, type: 'error' });
        }
    }
    catch (error) {
        console.error(error);
    }
};
const stopDataCollector = async () => {
    try {
        const response = await axios.get(`${domain}:5000/pause`);
        if (response.data.status == "Stop successful!") {
            ElMessage({ message: response.data.status, type: 'success' });
        }
        else {
            ElMessage({ message: response.data.status, type: 'error' });
        }
    }
    catch (error) {
        console.error(error);
    }
};
const startDataCollector = async () => {
    try {
        const response = await axios.get(`${domain}:5000/start`);
        if (response.data.status == "Start successful!") {
            ElMessage({ message: response.data.status, type: 'success' });
        }
        else {
            ElMessage({ message: response.data.status, type: 'error' });
        }
    }
    catch (error) {
        console.error(error);
    }
};
const Resize = () => {
    if (window.innerWidth < 768) {
        hiddenDivider.value = false;
    }
    else {
        hiddenDivider.value = true;
    }
};
const exportData = async () => {
    try {
        loading.value = true;
        const response = await axios.get(`${domain}:5000/export`, { responseType: 'blob' });
        const blob = new Blob([response.data], { type: 'application/zip' });
        const url = window.URL.createObjectURL(blob);
        const link = document.createElement('a');
        link.href = url;
        link.download = 'export_files.ts';

        // 將連結點擊一次，觸發下載動作
        link.click();

        // 釋放URL物件
        window.URL.revokeObjectURL(url);
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
const uploadSuccess = () => {
    reloadDataCollector();
};
// 上傳前先檢查檔案類型
const beforeUpload = (file: any) => {
    if (file.type !== 'video/vnd.dlna.mpeg-tts') {
        showImport.value = false;
        ElMessage({ message: "only .ts please", type: 'error' });
        return false;
    }
    return true
};
onMounted(() => {
    Resize();
    window.addEventListener('resize', Resize);
});
onBeforeMount(() => {
    window.removeEventListener('resize', Resize);
});
</script>
<style scoped>
h5 {
    font-size: 18px;
}
</style>