<template>
    <v-overlay v-if="skeletonLoading" :model-value="skeletonLoading" class="align-center justify-center">
        <v-progress-circular color="success" indeterminate size="64" width="8" />
    </v-overlay>
    <v-container v-else>
        <v-responsive class="align-center fill-height">
            <v-row> <!--d-flex align-center justify-center-->
                <v-col cols="auto">
                    <v-select variant="underlined" label="Type" v-model="type" :items="typeList"
                        transition="scroll-x-transition"></v-select>
                </v-col>
                <v-col cols="auto" align-self="center" class="d-none d-sm-flex"> <!--僅在xs時隱藏的class-->
                    <v-btn density="comfortable" icon="mdi-refresh" color="teal-lighten-3" @click="fetchData"></v-btn>
                </v-col>
                <v-col cols="auto ms-auto">
                    <div v-if="loading"> <!--chartData的渲染比較慢 不加這個會錯誤-->
                        <v-btn density="comfortable" color="teal-lighten-3" class="ma-5" @click="prevPage"
                            :disabled="startIndex === 0">
                            <v-icon icon="mdi-skip-previous-outline" start />
                            Prev</v-btn>
                        <v-btn density="comfortable" color="teal-lighten-3" @click="nextPage"
                            :disabled="endIndex >= chartData[0].data.length">
                            Next
                            <v-icon icon="mdi-skip-next-outline" end />
                        </v-btn>
                    </div>
                </v-col>
            </v-row><!--:options="getChartOptions(theme.global.name.value)"-->
            <v-card v-for="(data, index) in chartData" :key="index" :title="data.name" :subtitle="data.Device">
                <VueApexCharts :options="chartOptions"
                    :series="[{ name: data.name, data: formatChartData(data.data.slice(startIndex, endIndex)) }]"
                    :type="type" height="300" :key="checkKey" />
                <v-card-actions>
                    <v-spacer />
                    <v-btn variant="text" icon="mdi-arrow-right-bold-outline"
                        @click="openDrawer(data.name, data.Device, data.No)" />
                </v-card-actions>
            </v-card>
            <DashboardDrawer v-if="drawer" @close-drawer="closeDrawer" :drawerChart="drawerChart" />
        </v-responsive>
    </v-container>
</template>
<script setup lang="ts">
import { ref, reactive, onMounted, watch, computed } from 'vue';
import VueApexCharts from 'vue3-apexcharts';
import DashboardDrawer from '@/components/DashboardDrawer.vue';
import axios from 'axios';
import { useTheme } from 'vuetify/lib/framework.mjs';
const domain = window.location.origin;
// const domain = "http://192.168.1.127";
const theme = useTheme();

let skeletonLoading = ref(true);
let loading = ref(false);
let type = ref("area");
const typeList = reactive(["area", "line"]);
let chartData = ref();
let chartOptions = ref({
    dataLabels: { // 預設要不要顯示值
        enabled: false
    },
    stroke: {
        curve: 'smooth'
    },
    xaxis: {
        type: "datetime",
        labels: {
            formatter: (value: number, timestamp: number) => {
                // 將 timestamp 轉換成 Date 物件
                const date = new Date(timestamp);
                // 取得小時和分鐘
                const hours = date.getHours();
                const minutes = date.getMinutes();
                const seconds = date.getSeconds();
                // 將時間格式化為 "hh:mm" 格式
                return `${hours < 10 ? "0" : ""}${hours}:${minutes < 10 ? "0" : ""
                    }${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
            }
        }
    },
    yaxis: {
        title: {
            text: "Value"
        }
    },
    title: {
        // text: title,
        align: "left"
    },
    theme: {
        mode: theme.global.name.value, // 讀取最初的主題，light or dark
        palette: 'palette1',
        monochrome: {
            enabled: false,
            color: '#255aee',
            shadeTo: theme.global.name.value,
            shadeIntensity: 0.65
        },
    }
});
const maxDataToShow = ref(1000); // 每頁筆數上限
let startIndex = ref(0);
let endIndex = ref(100);
let drawer = ref(false);
let drawerChart = ref();

const fetchData = async () => {
    try {
        const response = await axios.get(`${domain}:5000/dashboardData`);
        chartData.value = response.data;
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = true;
        skeletonLoading.value = false;
    }
};

interface DataItem {
    x: number;
    y: string;
};
// 處理格式，以符合apexchart
const formatChartData = (data: DataItem[]) => {
    return data.slice(-maxDataToShow)
        .map(item => ({
            x: new Date(item.x).getTime(),
            y: parseFloat(item.y)
        }));
};
const checkKey = computed(() => {
    // key值為圖表型別+主題 以處理切換時重新渲染
    return `${type.value}-${theme.global.name.value}`;
});
// const getChartOptions = (theme: string) => {
//     return {
//         dataLabels: { // 預設要不要顯示值
//             enabled: false
//         },
//         stroke: {
//             curve: 'smooth'
//         },
//         xaxis: {
//             type: "datetime",
//             labels: {
//                 formatter: (value: number, timestamp: number) => {
//                     // 將 timestamp 轉換成 Date 物件
//                     const date = new Date(timestamp);
//                     // 取得小時和分鐘
//                     const hours = date.getHours();
//                     const minutes = date.getMinutes();
//                     const seconds = date.getSeconds();
//                     // 將時間格式化為 "hh:mm" 格式
//                     return `${hours < 10 ? "0" : ""}${hours}:${minutes < 10 ? "0" : ""
//                         }${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
//                 }
//             }
//         },
//         yaxis: {
//             title: {
//                 text: "Value"
//             }
//         },
//         title: {
//             // text: title,
//             align: "left"
//         },
//         theme: {
//             mode: theme,
//             palette: 'palette1',
//             monochrome: {
//                 enabled: false,
//                 color: '#255aee',
//                 shadeTo: theme,
//                 shadeIntensity: 0.65
//             },
//         }
//     }
// };

// 前頁邏輯
const prevPage = () => {
    if (startIndex.value > 0) {
        startIndex.value -= 100;
        endIndex.value -= 100;
    }
};
//下頁邏輯 每頁100筆data 過多會很擠
const nextPage = () => {
    if (endIndex.value < chartData.value[0].data.length) {
        startIndex.value += 100;
        endIndex.value += 100;
    }
};
// 組合參數 傳遞到子組件中
const openDrawer = (name: string, device: string, No: string) => {
    drawer.value = true;
    drawerChart.value = {
        "name": name,
        "device": device,
        "No": No
    }
};
// 子組件會傳來false
const closeDrawer = (value: boolean) => {
    drawer.value = value;
};
onMounted(() => {
    fetchData(); // 取得dashboard data
});
// apexchart有提供主題 如果切換vuetify的要跟著一起切
watch(
    () => theme.global.name.value, (newValue) => {
        if (newValue === "dark") {
            chartOptions.value.theme.mode = "dark";
            chartOptions.value.theme.monochrome.shadeTo = "dark";
        }
        else {
            chartOptions.value.theme.mode = "light";
            chartOptions.value.theme.monochrome.shadeTo = "light";
        }
    }
);
</script>