<template>
  <v-app>
    <v-navigation-drawer class="pt-4" expand-on-hover v-model="drawer">
      <v-list density="compact" nav>
        <v-list-item prepend-icon="mdi-view-dashboard" title="Dashboard" to="/" />
        <v-list-item prepend-icon="mdi-alpha-h-box" title="Hardware" to="/Hardware" />
        <v-list-group value="Management">
          <template v-slot:activator="{ props }">
            <v-list-item v-bind="props" prepend-icon="mdi-cog-transfer-outline" title="Management" />
          </template>
          <v-list-item prepend-icon="mdi-devices" title="Device" to="/Device" />
          <v-list-item prepend-icon="mdi-view-dashboard-edit" title="Setting Dashboard" to="/SetDashboard" />
          <v-list-item prepend-icon="mdi-bell-ring" title="Notify" to="/Notify" />
        </v-list-group>
        <v-list-item prepend-icon="mdi-cogs" title="Advanced" to="/Advanced" />
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn block :color="themeColor" prepend-icon="mdi-swap-horizontal" @click="toggleTheme">
            Toggle Theme
          </v-btn>
        </div>
        <div class="pa-2">
          <v-btn block color="black" prepend-icon="mdi-logout">
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
    <v-app-bar app scroll-behavior="collapse">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
    </v-app-bar>
    <v-bottom-navigation class="d-flex align-center" height="22">
      <h3>Copyright © Artila Electronics Co., Ltd. All Rights Reserved.</h3>
    </v-bottom-navigation>
  </v-app>
</template>

<script lang="ts" setup>
import { onMounted } from 'vue';
import { ref } from 'vue';
import { useTheme } from 'vuetify/lib/framework.mjs';

let drawer = ref(true);
const theme = useTheme();
let themeColor = ref("");

const toggleTheme = () => {
  theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark';
  if (theme.global.name.value === "dark") {
    themeColor.value = "white";
  }
  else {
    themeColor.value = "black";
  }
};
// 檢查初始化的主題
onMounted(() => {
  if (theme.global.name.value === "light") {
    themeColor.value = "black";
  }
  else {
    themeColor.value = "white";
  }
})
</script>
