<template>
    <v-container class="align-start fill-height">
        <v-responsive>
            <v-row justify="space-between">
                <v-col cols="6" align-self="center">
                    <v-btn color="light-blue-lighten-2" density="comfortable" @click="createEvent">
                        <v-icon icon="mdi-plus" start />
                        Create Device</v-btn>
                </v-col>
                <v-col cols="6">
                    <v-text-field label="Search" v-model="search" append-icon="mdi-magnify" variant="plain" hide-details />
                </v-col>
            </v-row>
            <v-card border class="rounded-lg">
                <VDataTable :headers="headers" :items="tableData" density="comfortable" :search="search" hover sticky>
                    <template v-slot:item.editDevice="{ item }">
                        <v-icon size="small" @click="editItem(item.raw)">
                            mdi-pencil <!--class="me-2"-->
                        </v-icon>
                    </template>
                    <template v-slot:item.deleteDevice="{ item }">
                        <v-icon size="small" @click="removeEvent(item.raw)">
                            mdi-delete
                        </v-icon>
                    </template>
                    <template v-slot:item.editRegister="{ item }">
                        <v-icon size="small" @click="deleteRegister(item.raw)">
                            mdi-note-edit
                        </v-icon>
                    </template>
                </VDataTable>
            </v-card>

            <v-dialog v-model="showEdit" width="600" transition="dialog-top-transition">
                <v-card class="rounded-lg">
                    <v-card-title class="text-h5">
                        {{ selectRow ? 'Edit Device' : 'Create Device' }}
                    </v-card-title>
                    <v-card-item>
                        <v-form>
                            <br>
                            <v-text-field v-model="deviceData.Company" label="Company" density="comfortable"
                                variant="outlined" class="w-75" />
                            <v-text-field v-model="deviceData.Model" label="Model" density="comfortable" variant="outlined"
                                class="w-75" />
                            <v-select :items="classList" v-model="deviceData.Class" label="Class" item-title="label"
                                item-value="value" density="comfortable" variant="outlined" class="w-75" />
                        </v-form>
                    </v-card-item>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="error" @click="showEdit = false">Close</v-btn>
                        <v-btn color="success" @click="submitEvent">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="deleteDialog" persistent width="auto" transition="dialog-top-transition">
                <v-card class="rounded-lg">
                    <v-card-title class="text-h5">
                        Delete Dashboard
                    </v-card-title>
                    <v-card-text>Are you sure you want to delete?</v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                        <v-spacer />
                        <v-btn color="red" variant="text" @click="deleteDialog = false">
                            Cancel
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="deleteDevice">
                            Got it!
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <EditRegister v-if="delRegister" @closeDeleteModal="closeDelModal" :selectRow="selectRow" />
        </v-responsive>
    </v-container>
</template>
<script setup lang="ts">
import axios from 'axios';
import { ElMessage } from 'element-plus';
import { ref, reactive, onMounted } from 'vue';
import EditRegister from '@/components/EditRegister.vue';
import { VDataTable } from 'vuetify/lib/labs/components.mjs';
const domain = window.location.origin;

let tableData = ref();
let headers = ref([
    { key: "Company", title: "Company" },
    { key: "Model", title: "Model" },
    { key: "Class", title: "Class" },
    { key: 'editDevice', title: 'Edit', sortable: false, width: "70" },
    { key: 'deleteDevice', title: 'Delete Device', sortable: false, width: "150" },
    { key: 'editRegister', title: 'Edit Register', sortable: false, width: "130" }
]);
let selectRow = ref();
let showEdit = ref(false);
let deviceData = ref({
    Company: '',
    Model: '',
    Class: '',
});
interface DataItem {
    _X_ROW_KEY: string,
    Company: string,
    Model: string,
    Class: string
};
let deleteDialog = ref(false);
let deleteTemp = ref({});
let search = ref("");
let delRegister = ref(false);
interface OptionItem {
    label: string;
    value: string;
};
const classList: OptionItem[] = [
    { label: "Temperature", value: "Temperature" },
    { label: "Power", value: "Power" },
    { label: "Acid", value: "Acid" },
    { label: "Light", value: "Light" },
    { label: "Rain", value: "Rain" },
    { label: "Rotate", value: "Rotate" },
    { label: "Water", value: "Water" },
    { label: "Weight", value: "Weight" },
    { label: "Wind", value: "Wind" },
    { label: "Noise", value: "Noise" },
    { label: "User_Def", value: "User_Def" },
    { label: "Air", value: "Air" },
    { label: "Vibration", value: "Vibration" },
];
const deviceRules = reactive({
    Company: [
        { required: true, message: 'Please enter company' },
        { min: 1, max: 15, message: 'Max Length 15' }
    ],
    Model: [
        { required: true, message: 'Please enter model name' }
    ],
    Class: [
        { required: true }
    ]
});
// 將data傳入子組件中
const deleteRegister = (row: DataItem) => {
    selectRow.value = row;
    delRegister.value = true;
};
// 子組件會傳來false 在重啟DC
const closeDelModal = async (value: boolean) => {
    delRegister.value = value;
    await axios.get(`${domain}:5000/reload`);
};
// 由於創建、編輯是同一個 要先初始化數據再開啟彈窗
const createEvent = () => {
    deviceData.value = {
        Company: '',
        Model: '',
        Class: '',
    };
    selectRow.value = null;
    showEdit.value = true;
};
// 將數據取出並放入showEdit的input內
const editItem = (row: DataItem) => {
    deviceData.value = {
        Company: row.Company,
        Model: row.Model,
        Class: row.Class,
    };
    selectRow.value = row;
    showEdit.value = true;
};
// 按下表格的刪除後 先將data存入deleteTemp 並提供double check彈窗
const removeEvent = (row: DataItem) => {
    deleteDialog.value = true;
    deleteTemp.value = row;
};
// 刪除配置裝置
const deleteDevice = async () => {
    try {
        const response = await axios.post(`${domain}:5000/delDevice`, deleteTemp.value);
        ElMessage({ message: response.data.status, type: 'success' });
        getTableData();
    }
    catch (error) {
        console.error(error);
    }
    finally {
        deleteDialog.value = false;
    }
};
// 因為sqlite表格開頭不能為數字 用正規表達式來檢查
const checkStarts = (str: string) => {
    const regex = /^[0-9]/;
    return regex.test(str);
};
const submitEvent = async () => {
    showEdit.value = false; // 關閉彈窗
    try {
        // 子組件回傳來selectRow 如果沒傳那就是要新增
        if (selectRow.value) {
            let payload = [{
                old: selectRow.value,
                new: deviceData.value
            }];
            const response = await axios.post(`${domain}:5000/editDevice`, payload);
            if (response.data.status !== "Edit Successful") {
                ElMessage({ message: response.data.status, type: 'warning' });
                return;
            }
            ElMessage({ message: response.data.status, type: 'success' });
            getTableData(); // 更新頁面數據
        }
        else {
            // sqlite表格不能有"-"
            if (deviceData.value.Company.includes("-") || deviceData.value.Model.includes("-")) {
                return ElMessage.error("Cannot includes with '-', please re-enter.");
            }
            // 檢查是否有符合sqlite命名規範
            if (!checkStarts(deviceData.value.Company)) {
                if (!checkStarts(deviceData.value.Model)) {
                    const response = await axios.post(`${domain}:5000/addDevice`, deviceData.value);
                    if (response.data.status == "Successful") {
                        ElMessage({ message: response.data.status, type: 'success' });
                        getTableData();// 更新頁面數據
                    }
                    else {
                        ElMessage({ message: response.data.status, type: 'error' });
                        getTableData();// 更新頁面數據
                    }
                }
                else {
                    ElMessage.error("Cannot start with Number,please re-enter");
                }
            }
            else {
                ElMessage.error("Cannot start with Number,please re-enter");
            }
        }

    }
    catch (error) {
        console.error(error);
    }
};
// 取得表格內容
const getTableData = async () => {
    try {
        const response = await axios.get(`${domain}:5000/getTableData`);
        tableData.value = response.data;
    } catch (error) {
        console.error(error);
    }
};
onMounted(() => {
    getTableData();
});
</script>