<template>
    <v-overlay v-if="skeletonLoading" :model-value="skeletonLoading" class="align-center justify-center">
        <v-progress-circular color="success" indeterminate size="64" width="8" />
    </v-overlay>
    <v-container v-else fluid>
        <v-responsive class="align-start fill-height">
            <v-card class="rounded-lg">
                <v-tabs v-model="tab" bg-color="teal-accent-4" show-arrows center-active>
                    <v-tab value="one">Ethernet</v-tab>
                    <v-tab value="two">Serial</v-tab>
                    <v-tab value="three">MQTT</v-tab>
                    <v-tab value="four">Gateway</v-tab>
                </v-tabs>

                <v-card-text>
                    <v-window v-model="tab">
                        <v-window-item value="one">
                            <v-row>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <h5>Ethernet #1 Configuration</h5><br>
                                    <v-form>
                                        <v-select :items="modeList" label="Mode" v-model="ethernetData.mode0"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-text-field :disabled="checkMode0" v-model="ethernetData.ip0" label="IP Address"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode0" v-model="ethernetData.netmask0"
                                            label="Subnet Mask" density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode0" v-model="ethernetData.network0" label="Network"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode0" v-model="ethernetData.gateway0" label="Gateway"
                                            density="comfortable" variant="outlined" class="w-50" />
                                    </v-form>
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <h5>Ethernet #2 Configuration</h5><br>
                                    <v-form>
                                        <v-select :items="modeList" label="Mode" v-model="ethernetData.mode1"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-text-field :disabled="checkMode1" v-model="ethernetData.ip1" label="IP Address"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode1" v-model="ethernetData.netmask1"
                                            label="Subnet Mask" density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode1" v-model="ethernetData.network1" label="Network"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-text-field :disabled="checkMode1" v-model="ethernetData.gateway1" label="Gateway"
                                            density="comfortable" variant="outlined" class="w-50">
                                            <template v-slot:append-inner>
                                                <v-tooltip :text="markTooltip">
                                                    <template v-slot:activator="{ props }">
                                                        <v-icon @click="toggleMarker" v-bind="props">{{ marker ?
                                                            'mdi-bookmark-plus-outline' :
                                                            'mdi-bookmark-remove-outline' }}</v-icon>
                                                    </template>
                                                </v-tooltip>
                                            </template>
                                        </v-text-field>
                                    </v-form>
                                </v-col>
                                <v-col class="d-flex justify-end">
                                    <v-btn color="red-darken-2" class="mr-2" @click="restartNetwork = true">
                                        <v-icon icon="mdi-restart" start />
                                        Restart Network</v-btn>
                                    <v-btn color="success" :loading="loading" @click="setEthernet">
                                        <v-icon icon="mdi-content-save-outline" start />
                                        Set</v-btn>
                                </v-col>
                            </v-row>
                        </v-window-item>

                        <v-window-item value="two">
                            <v-row>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <v-form>
                                        <h5>Serial #1 Configuration</h5><br>
                                        <v-select :items="serialEnable" v-model="serialData.uart_enable_p1"
                                            label="Enable/Disable" item-title="label" item-value="value"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-select :items="serialType" v-model="serialData.uart_type_p1" label="Type"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-select :items="serialBaudrate" v-model="serialData.uart_baudrate_p1"
                                            label="Baudrate" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                        <v-select :items="serialParity" v-model="serialData.uart_parity_p1" label="Parity"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-select :items="serialDatabits" v-model="serialData.uart_databits_p1"
                                            label="Databits" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                        <v-select :items="serialStopbits" v-model="serialData.uart_stopbits_p1"
                                            label="Stopbits" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                    </v-form>
                                </v-col>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <h5>Serial #2 Configuration</h5><br>
                                    <v-form>
                                        <v-select :items="serialEnable" v-model="serialData.uart_enable_p2"
                                            label="Enable/Disable" item-title="label" item-value="value"
                                            density="comfortable" variant="outlined" class="w-50" />
                                        <v-select :items="serialType" v-model="serialData.uart_type_p2" label="Type"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-select :items="serialBaudrate" v-model="serialData.uart_baudrate_p2"
                                            label="Baudrate" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                        <v-select :items="serialParity" v-model="serialData.uart_parity_p2" label="Parity"
                                            item-title="label" item-value="value" density="comfortable" variant="outlined"
                                            class="w-50" />
                                        <v-select :items="serialDatabits" v-model="serialData.uart_databits_p2"
                                            label="Databits" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                        <v-select :items="serialStopbits" v-model="serialData.uart_stopbits_p2"
                                            label="Stopbits" item-title="label" item-value="value" density="comfortable"
                                            variant="outlined" class="w-50" />
                                    </v-form>
                                </v-col>
                                <v-col class="d-flex justify-end">
                                    <v-btn color="success" :loading="loading" @click="setSerial">
                                        <v-icon icon="mdi-content-save-outline" start />
                                        Set</v-btn>
                                </v-col>
                            </v-row>
                        </v-window-item>

                        <v-window-item value="three">
                            <v-row>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <h5>MQTT</h5><br>
                                    <v-select :items="serialEnable" v-model="mqttData.mb_scan_enable" item-title="label"
                                        item-value="value" density="comfortable" variant="outlined" label="RTU Scan"
                                        class="w-50" />
                                    <v-text-field label="Broker hostname" v-model="mqttData.mqtt_broker_hostname"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <v-text-field label="Broker port" v-model="mqttData.mqtt_broker_port"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <v-text-field label="MQTT username" v-model="mqttData.mqtt_username"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <v-text-field label="MQTT password" v-model="mqttData.mqtt_password"
                                        density="comfortable" variant="outlined" type="password" class="w-50" />
                                    <v-text-field label="MQTT debug topic" v-model="mqttData.mqtt_topic_dbg"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <v-text-field label="MQTT data topic" v-model="mqttData.mqtt_topic_data"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <div :class="buttonJustify">
                                        <v-btn color="success" :loading="loading" @click="setMQTT">
                                            <v-icon icon="mdi-content-save-outline" start />
                                            Set</v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-window-item>

                        <v-window-item value="four">
                            <v-row>
                                <v-col lg="6" md="6" sm="12" cols="12">
                                    <h5>Gateway Configuration</h5><br>
                                    <v-text-field label="Port 1 address min" v-model="gatewayData.uart_rtu_addr_min_p1"
                                        type="number" min="1" mx="246" density="comfortable" variant="outlined"
                                        class="w-50" />
                                    <v-text-field label="Port 1 address max" v-model="gatewayData.uart_rtu_addr_max_p1"
                                        type="number" min="2" mx="247" density="comfortable" variant="outlined"
                                        class="w-50" />
                                    <v-text-field label="Port 2 address min" v-model="gatewayData.uart_rtu_addr_min_p2"
                                        type="number" min="1" mx="246" density="comfortable" variant="outlined"
                                        class="w-50" />
                                    <v-text-field label="Port 2 address max" v-model="gatewayData.uart_rtu_addr_max_p2"
                                        type="number" min="2" mx="247" density="comfortable" variant="outlined"
                                        class="w-50" />
                                    <v-select :items="serialEnable" label="Enable/Disable"
                                        v-model="gatewayData.gateway_enable" item-title="label" item-value="value"
                                        density="comfortable" variant="outlined" class="w-50" />
                                    <v-text-field label="Listen port" v-model="gatewayData.gateway_listen_port"
                                        type="number" min="1" density="comfortable" variant="outlined" class="w-50" />
                                    <div :class="buttonJustify">
                                        <v-btn color="success" :loading="loading" @click="setGateway">
                                            <v-icon icon="mdi-content-save-outline" start />
                                            Set</v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-window-item>
                    </v-window>
                </v-card-text>
            </v-card>
            <v-dialog v-model="restartNetwork" persistent width="auto" transition="dialog-top-transition">
                <v-card class="rounded-lg">
                    <v-card-title class="text-h5">
                        Restart Network
                    </v-card-title>
                    <v-card-text>Restarting the network will take about 1 minute. Please access
                        the web page using
                        the new IP address after 1 minute.</v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green-darken-1" variant="text" @click="restartNetwork = false">
                            Cancel
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="networkRestart" :loading="loading">
                            Got it!
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-overlay :model-value="overlay" class="align-center justify-center">
                <v-progress-circular color="success" indeterminate size="64" width="8" />
            </v-overlay>
        </v-responsive>
    </v-container>
</template>


<script setup lang="ts">
import axios from 'axios';
import { ElMessage } from 'element-plus';
import { ref, watch, onMounted, onBeforeUnmount } from 'vue';
const domain = window.location.origin;

let overlay = ref(false);
let skeletonLoading = ref(false);
let tab = ref(null as string | null);
let loading = ref(false);
let ethernetData = ref({
    mode0: "",
    ip0: "",
    netmask0: "",
    network0: "",
    gateway0: "",
    mode1: "",
    ip1: "",
    netmask1: "",
    network1: "",
    gateway1: "",
    mark: false,
});
interface OptionItem {
    label: string;
    value: string;
};
const modeList: OptionItem[] = [
    { label: "DHCP", value: "dhcp" },
    { label: "Static", value: "static" },
];
let checkMode0 = ref(false);
let checkMode1 = ref(false);
let marker = ref(true);
let markTooltip = ref("");
let serialData = ref({
    uart_enable_p1: "",
    uart_name_p1: "ttymxc1",
    uart_type_p1: "",
    uart_baudrate_p1: "",
    uart_parity_p1: "",
    uart_databits_p1: "",
    uart_stopbits_p1: "",
    uart_char_tmout_ms_p1: "30",
    uart_total_tmout_ms_p1: "500",
    uart_cmd_interval_ms_p1: "1",
    uart_enable_p2: "",
    uart_name_p2: "ttymxc2",
    uart_type_p2: "",
    uart_baudrate_p2: "",
    uart_parity_p2: "",
    uart_databits_p2: "",
    uart_stopbits_p2: "",
    uart_char_tmout_ms_p2: "30",
    uart_total_tmout_ms_p2: "500",
    uart_cmd_interval_ms_p2: "1",
});
const serialEnable: OptionItem[] = [
    { label: "Enable", value: "1" },
    { label: "Disable", value: "0" }
];
const serialType: OptionItem[] = [
    { label: "RS485", value: "RS485" },
    { label: "RS232", value: "RS232" }
];
const serialBaudrate: OptionItem[] = [
    { label: "115200", value: "115200" },
    { label: "57600", value: "57600" },
    { label: "38400", value: "38400" },
    { label: "19200", value: "19200" },
    { label: "9600", value: "9600" },
    { label: "4800", value: "4800" },
    { label: "2400", value: "2400" },
    { label: "1200", value: "1200" },
];
const serialParity: OptionItem[] = [
    { label: "NONE", value: "NONE" },
    { label: "ODD", value: "ODD" },
    { label: "EVEN", value: "EVEN" },
];
const serialDatabits: OptionItem[] = [
    { label: "5", value: "5" },
    { label: "6", value: "6" },
    { label: "7", value: "7" },
    { label: "8", value: "8" },
];
const serialStopbits: OptionItem[] = [
    { label: "1", value: "1" },
    { label: "2", value: "2" },
];
let mqttData = ref({
    mb_tcp_master_interval_ms: "1000",
    mb_tcp_master_resp_tmout: "2000",
    mb_tcp_slave_enable: "0",
    mb_tcp_slave_listen_port: "502",
    mb_scan_enable: "",
    mqtt_broker_hostname: "",
    mqtt_broker_port: "",
    mqtt_username: "",
    mqtt_password: "",
    mqtt_topic_dbg: "",
    mqtt_topic_data: "",
});
let gatewayData = ref({
    uart_rtu_addr_min_p1: "",
    uart_rtu_addr_max_p1: "",
    uart_rtu_addr_min_p2: "",
    uart_rtu_addr_max_p2: "",
    gateway_enable: "",
    gateway_listen_port: "",
});
let restartNetwork = ref(false);
let buttonJustify = ref(""); // 按鈕位置在手機時要調整

const setEthernet = async () => {
    try {
        loading.value = true;
        // 檢查這個物件是否有空值
        let check: boolean = hasEmptyValue(ethernetData.value);
        if (check) {
            ElMessage({ message: "Do not empty!!", type: 'error' });
            return;
        }
        ethernetData.value.mark = marker.value;
        const response = await axios.post(`${domain}:5000/setEthernet`, ethernetData.value);
        ElMessage({ message: response.data.status, type: 'success' });
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
// 遍歷物件是否有空值
const hasEmptyValue = (obj: Record<string, string | boolean>): boolean => {
    for (let key in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, key)) {
            let value = obj[key];
            if (typeof value === 'object') {
                if (hasEmptyValue(value)) {
                    return true;
                }
            }
            else if (value === '' || value === null || value === undefined) {
                return true;
            }
        }
    }
    return false;
};
// 取得該頁面項目 目前的值
const getHardwareInfo = async () => {
    try {
        loading.value = true;
        const ethernet_response = await axios.get(`${domain}:5000/getEthernet`);
        ethernetData.value = ethernet_response.data;
        ethernetData.value.mark = ethernet_response.data.mark === "1" ? true : false;
        marker.value = ethernetData.value.mark;
        if (marker.value) {
            markTooltip.value = "Mark";
        }
        else {
            markTooltip.value = "Unmark";
        }

        const serial_response = await axios.get(`${domain}:5000/getSerial`);
        serialData.value = serial_response.data;

        const mqtt_response = await axios.get(`${domain}:5000/getMQTT`);
        mqttData.value = mqtt_response.data;

        const gateway_response = await axios.get(`${domain}:5000/getGateway`);
        gatewayData.value = gateway_response.data;
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
const setSerial = async () => {
    try {
        loading.value = true;
        // 檢查這個物件是否有空值
        let check: boolean = hasEmptyValue(serialData.value);
        if (check) {
            ElMessage({ message: "Do not empty!!", type: 'error' });
            return;
        }
        const response = await axios.post(`${domain}:5000/setSerial`, serialData.value);
        ElMessage({ message: response.data.status, type: 'success' });
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
// 此配置不一定要全滿 所以不檢查
const setMQTT = async () => {
    try {
        loading.value = true;
        const response = await axios.post(`${domain}:5000/setMQTT`, mqttData.value);
        ElMessage({ message: response.data.status, type: 'success' });
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
const setGateway = async () => {
    try {
        loading.value = true;
        // 檢查這個物件是否有空值
        let check: boolean = hasEmptyValue(gatewayData.value);
        if (check) {
            ElMessage({ message: "Do not empty!!", type: "error" });
            return;
        }
        const response = await axios.post(`${domain}:5000/setGateway`, gatewayData.value);
        ElMessage({ message: response.data.status, type: "success" });
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
// 重啟網路以生效
const networkRestart = async () => {
    try {
        loading.value = true;
        const response = await axios.get(`${domain}:5000/restartNetwork`);
        restartNetwork.value = false;
        ElMessage({ message: response.data.status, type: 'warning', duration: 0, showClose: true });
        overlay.value = true;
    }
    catch (error) {
        console.error(error);
    }
    finally {
        loading.value = false;
    }
};
// 動態切換tooltip的文字
const toggleMarker = () => {
    marker.value = !marker.value;
    if (marker.value) {
        markTooltip.value = "Mark";
    }
    else {
        markTooltip.value = "Unmark";
    }
};
// 調整CSS
const Resize = () => {
    if (window.innerWidth < 600) {
        buttonJustify.value = "d-flex justify-end";
    }
    else {
        buttonJustify.value = "d-flex justify-center";
    }
};
// 如果是dhcp要將下方的input都關閉
watch(
    [() => ethernetData.value.mode0, () => ethernetData.value.mode1],
    ([newMode0, newMode1]) => {
        if (newMode0 !== "dhcp") {
            checkMode0.value = false;
        } else {
            checkMode0.value = true;
        }
        if (newMode1 !== "dhcp") {
            checkMode1.value = false;
        }
        else {
            checkMode1.value = true;
        }
    }
);
onMounted(() => {
    getHardwareInfo();
    Resize();
    window.addEventListener('resize', Resize);
});
onBeforeUnmount(() => {
    window.removeEventListener('resize', Resize);
})
</script>