<template>
    <v-container>
        <v-responsive>
            <h5 class="text-start text-break">Line Notify setting (Internet access required)</h5>
            <br>
            <v-form>
                <v-row>
                    <v-col lg="2" md="2" sm="12" cols="12">
                        <v-switch v-model="notifyData.status" color="success" :label="`Status: ${statusLabel}`" inset />
                    </v-col>
                    <v-col lg="6" md="6" sm="12" cols="12">
                        <v-text-field label="Token" v-model="notifyData.token" density="comfortable" variant="outlined" />
                    </v-col>
                    <v-col lg="2" md="2" sm="6" cols="6">
                        <v-text-field label="Frequency" type="number" min="1" v-model="notifyData.frequency"
                            density="comfortable" variant="outlined" />
                    </v-col>
                    <v-col lg="2" md="2" sm="6" cols="6" class="d-flex justify-end">
                        <v-btn color="success" @click="setNotify" rounded>
                            <v-icon icon="mdi-content-save-outline" start />
                            Set</v-btn>
                    </v-col>
                </v-row>
            </v-form>
            <br><span class="text-break">Please visit <ElLink type="success" :underline="false"
                    href="https://notify-bot.line.me/zh_TW/" target="_blank">LINE
                    Notify</ElLink>
                webpage and login to LINE service using your own LINE account. Once login, follow the instruction underneath
                to
                assign the LINE group to receive the notification and to create a notification token. Once you get the
                token,
                invite "LINE Notify" to your selected group.</span><br><br>
            <v-img aspect-ratio="16/9" cover src="../../assets/line_helper.png"></v-img>
        </v-responsive>
    </v-container>
</template>

<script setup lang="ts">
import axios from 'axios';
import { ElLink, ElMessage } from 'element-plus';
import { onMounted } from 'vue';
import { reactive, ref, watch } from 'vue';
const domain = window.location.origin;

let notifyData = reactive({
    status: false,
    token: "",
    frequency: ""
});
let statusLabel = ref("");
// 送出配置
const setNotify = async () => {
    try {
        const response = await axios.post(`${domain}:5000/setNotify`, notifyData);
        ElMessage({ message: response.data.status, type: 'success' });
    }
    catch (error) {
        console.error(error);
    }
};
// 從datebase取得目前配置
const notifyStatus = async () => {
    try {
        const response = await axios.get(`${domain}:5000/notifyStatus`);
        const data = response.data;
        notifyData.token = data.token;
        notifyData.frequency = data.frequency;
        notifyData.status = data.status === "0" ? false : true;
        if (notifyData.status === true) {
            statusLabel.value = "On";
        }
        else {
            statusLabel.value = "Off"
        }
    }
    catch (error) {
        console.error(error);
    }
};

onMounted(() => {
    notifyStatus();
});
// 變更switch旁邊的狀態文字
watch(
    () => notifyData.status, (newValue: boolean) => {
        if (newValue === true) {
            statusLabel.value = "On";
        }
        else {
            statusLabel.value = "Off";
        }
    }
);
</script>