<template>
    <v-container class="align-start fill-height">
        <v-responsive>
            <br>
            <v-form>
                <v-row>
                    <v-col lg="5" md="5" sm="12" cols="12">
                        <v-select :items="deviceList" v-model="dashboardData.Device" label="Device" density="comfortable"
                            variant="outlined" />
                    </v-col>
                    <v-col lg="5" md="5" sm="12" cols="12">
                        <v-select :items="registerList" item-title="label" item-value="label"
                            v-model="dashboardData.Register" label="Register & Label" density="comfortable"
                            variant="outlined" class="w-50" />
                    </v-col>
                    <v-col lg="2" md="2" sm="12" cols="12" class="d-flex justify-end mt-2">
                        <v-btn color="light-blue-lighten-2" density="comfortable" @click="setDashboard">
                            <v-icon icon="mdi-plus" start />
                            ADD</v-btn>
                    </v-col>
                </v-row>
            </v-form>
            <br>
            <v-card border class="rounded-lg">
                <v-row justify="end">
                    <v-col cols="6">
                        <v-text-field label="Search" v-model="search" append-icon="mdi-magnify" variant="plain"
                            hide-details />
                    </v-col>
                </v-row>
                <VDataTable :headers="headers" :items="tableData" density="comfortable" :search="search" hover sticky>
                    <template v-slot:item.delete="{ item }">
                        <v-icon size="small" @click="showDelete(item.raw)">
                            mdi-delete
                        </v-icon>
                    </template>
                </VDataTable>
            </v-card>
            <v-dialog v-model="deleteDialog" persistent width="auto" transition="dialog-top-transition">
                <v-card class="rounded-lg">
                    <v-card-title class="text-h5">
                        Delete Dashboard
                    </v-card-title>
                    <v-card-text>Are you sure you want to delete?</v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" variant="text" @click="deleteDialog = false">
                            Cancel
                        </v-btn>
                        <v-btn color="green-darken-1" variant="text" @click="delDashboard">
                            Got it!
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-responsive>
    </v-container>
</template>

<script setup lang="ts">
import { ref, reactive, onMounted, watch } from 'vue';
import axios from 'axios';
import { VDataTable } from 'vuetify/lib/labs/components.mjs';
import { ElMessage } from 'element-plus';
const domain = window.location.origin;

let search = ref("");
let headers = ref([
    { key: "Device", title: "Device" },
    { key: "Label", title: "Label" },
    { key: "localAddr", title: "Register" },
    { key: 'delete', title: 'Action', sortable: false, width: "80" },
]);
let tableData = ref();
let dashboardData = reactive({
    Device: null,
    Register: null,
});
let deviceList = ref([]);
let registerList = ref<{ value: string; label: string }[]>([]);
let deleteDialog = ref(false);
let deleteTemp = ref({});

// 取得database中的所有表格 (做為裝置名稱使用的)
const getTable = async () => {
    try {
        const response = await axios.get(`${domain}:5000/getTable`);
        deviceList.value = response.data;
    }
    catch (error) {
        console.error(error);
    }
};
// 取得該表格下方的暫存器
const getRegister = async (value: string | null) => {
    try {
        dashboardData.Register = null;
        const payload = {
            table: value
        };
        const response = await axios.post(`${domain}:5000/getRegister`, payload);
        // 格式化成選項的格式
        const format = Object.entries(response.data).map(([value, label]) => ({ value, label: label as string }));
        registerList.value = format;
    }
    catch (error) {
        console.error(error);
    }
};
const setDashboard = async () => {
    try {
        if (dashboardData.Device == null) {
            ElMessage({ message: "Device is empty!", type: 'error' });
            return;
        }
        if (dashboardData.Register == null) {
            ElMessage({ message: "Register & Label is empty!", type: 'error' });
            return;
        }

        const response = await axios.post(`${domain}:5000/setDashboard`, dashboardData);
        ElMessage({ message: response.data.status, type: 'success' });
        getDashboardTable(); // 重新獲取表格資料以更新
    }
    catch (error) {
        console.error(error);
    }
};
// 取得目前需要展示的dashboard
const getDashboardTable = async () => {
    try {
        const response = await axios.get(`${domain}:5000/getDashboardTable`);
        tableData.value = response.data;
    }
    catch (error) {
        console.error(error);
    }
};
// 將所選行的數據存在deleteTemp中 開啟double check的彈窗
const showDelete = (row: object) => {
    deleteTemp.value = row;
    deleteDialog.value = true;
};
// 刪除要展示的dashboard
const delDashboard = async () => {
    try {
        const response = await axios.post(`${domain}:5000/delDashboard`, deleteTemp.value);
        ElMessage({ message: response.data.status, type: 'success' });
        getDashboardTable();// 重新獲取表格資料以更新
    }
    catch (error) {
        console.error(error);
    }
    finally {
        deleteDialog.value = false; // 關閉double check的彈窗
    }
};
onMounted(() => {
    getTable(); // 取得裝置的選項
    getDashboardTable();
});
// 動態產出暫存器 每當user選擇不同裝置就會重新取得一次
watch(
    () => dashboardData.Device, (newDevice) => {
        getRegister(newDevice);
    }
);
</script>